.chat {
  margin: 0 auto;
  max-width: 500px;
  height: 80vh;
  background-color: grey;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.roomtitle {
  font-size: 0.9rem;
  color: white;
}

.user-name {
  text-align: start;
  width: 100%;
}

h2 {
  font-weight: 600;
  font-size: large;
  border-bottom: 2px solid rgba(211, 211, 211, 0.5);
  padding-bottom: 1rem;
}

.chat-message {
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}

.container {
  height: 70vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  margin-left: 0px;
  margin-right: auto;
  max-width: 220px;
  display: flex;
  flex-direction: column;
}

.p-left {
  font-size: 1rem;
  background-color: #2d343e;
  padding: 1rem;
  border-radius: 0px 10px 10px 10px;
  font-weight: 300;
  color: white;
  margin-bottom: 8px;
}

.span-left {
  font-size: 0.8rem;
  font-weight: 250;
  color: white;
  padding-left: 0.5rem;
  margin-top: 0px;
}

.mess-right {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  max-width: 220px;
  align-self: flex-end;
}

.p-right {
  text-align: end;
  border-radius: 10px 0px 10px 10px;
  background-color: #250202;
  color: white;
  padding: 1rem;
  font-weight: 300;
  margin-bottom: 8px;
}

.span-right {
  width: 100%;
  text-align: end;
  font-size: 0.8rem;
  font-weight: 250;
  padding-right: 0.5rem;
  color: white;
  margin-top: 0px;
}
.send {
  width: 100%;
  height: 50px;
  display: flex;
}

input {
  width: 80%;
  text-decoration: none;
  background-color: #404450;
  border: none;
  padding-left: 1rem;
  border-radius: 5px 0px 0px 5px;
  color: white;
}

input :focus {
  outline: none;
}

button {
  width: 20%;
  border: none;
  background-color: orange;
  border-radius: 0px 5px 5px 0px;
}

button :hover {
  cursor: pointer;
}
